<h2>User Component</h2>

<div>
    <ul class="users">
        <li *ngFor="let user of users" 
			[class.selected]="user === selectedUser" 
			(click)="onSelect(user)">
            <div>
                <span class="badge">{{ user.id }}</span>  : {{ user.username }} -> {{ user.password }}
            </div>
        </li>
    </ul>
</div>

<div *ngIf="selectedUser">
    <h2>{{ selectedUser.username | uppercase }} |  Details</h2>
    <div><span>id: {{ selectedUser.id }}</span></div>
    <div>
        <label>username:
            <input [(ngModel)]="selectedUser.username" placeholder="username">
        </label>
    </div>
</div>